einops==0.8.1
scipy==1.15.3
PyYAML==6.0.3
Pillow==12.2.0
tensorboardX==2.6.4
mlflow==3.4.0
prettytable==3.17.0
timm==1.0.12
matplotlib==3.10.9
ruamel.yaml
numpy==2.2.6
opencv-python==4.9.0.80
nuscenes-devkit==1.1.11
